img.img-thumbnail {
  height: 100px;
  min-width: 100px !important;
  margin-bottom: 2px;
}


.nv-file-over {
  border-style: dotted;
  border-color: red;
  border-width: 3px;
}

input[type=file] {
  color: transparent;
}
