<div class="container mt-3">

  <!-- =================== header =================== -->

  <div class="d-flex justify-content-center m-3">
    <h2>Your matches - {{pagination.totalItems}} found</h2>
  </div>

  <!-- HTML for filters -->

  <div class="row">
    <form class="form-inline" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
      <div class="form-group">
        <label for="minAge">Age From</label>
        <input type="number" class="form-control" style="width: 70px" id="minAge" [(ngModel)]="userParams.minAge"
          name="minAge">
      </div>

      <div class="form-group">
        <label for="maxAge">Age To</label>
        <input type="number" class="form-control" style="width: 70px" id="maxAge" [(ngModel)]="userParams.maxAge"
          name="maxAge">
      </div>

      <div class="form-group">
        <label for="gender">Show: </label>
        <select class="form-control" style="width: 130px;" id="gender" name="gender" [(ngModel)]="userParams.gender">
          <option *ngFor="let g of genderList" [value]="g.value">
            {{g.display}}
          </option>
          <option value="male">
            Males
          </option>
          <option value="female">
            Females
          </option>
        </select>
      </div>



      <button type="submit" class="btn btn-primary" style="margin-left:10px">Apply Filters</button>
      <button type="button" class="btn btn-info" (click)="resetFilters()" style="margin-left:10px">Reset Filter</button>


      <!-- HTML for ordering -->

      <div class="col">
        <div class="btn-group float-right">
          <button type="button" name="orderBy" (click)="loadUsers()" class="btn btn-primary" btnRadio="lastActive"
            [(ngModel)]="userParams.orderBy">Last Active</button>
          <button type="button" name="orderBy" (click)="loadUsers()" class="btn btn-primary" btnRadio="created"
            [(ngModel)]="userParams.orderBy">Newest Members</button>
        </div>
      </div>



    </form>
  </div>
  <br>

  <!-- =================== Member Photos =================== -->
  <div class="row">
    <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
      <app-member-card [user]="user"></app-member-card>
    </div>
  </div>

  <!-- =================== Pagination =================== -->
  <div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true" (pageChanged)="pageChanged($event)" [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.currentPage" previousText="&lsaquo;"
      nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
  </div>

</div>
