<form [formGroup]="registrationFrom" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <!-- 
  ====
  radio buttons
  ====  -->

  <div class="form-group">
    <label class="control-label" style="margin-right:10px">I am a: </label>
    <label class="radio-inline">
      <input class="mr-3" type="radio" value="male" formControlName="gender">Male
    </label>
    <label class="radio-inline ml-3">
      <input class="mr-3" type="radio" value="female" formControlName="gender">Female
    </label>
  </div>

  <!-- 
  ====
  Username
  ====  -->

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Username" formControlName="username" autocomplete="username"
      [ngClass]="{'is-invalid': registrationFrom.get('username').errors && registrationFrom.get('username').touched}">
    <div class="invalid-feedback"
      *ngIf="registrationFrom.get('username').hasError('required') && registrationFrom.get('username').touched">
      Please choose a username.</div>
    <div class="invalid-feedback"
      *ngIf="registrationFrom.get('username').hasError('minlength') && registrationFrom.get('username').touched">
      Username must be at least 3 characters.</div>
    <div class="invalid-feedback"
      *ngIf="registrationFrom.get('username').hasError('maxlength') && registrationFrom.get('username').touched">
      Username cannot exceed 16 characters.</div>
  </div>

  <!-- 
  =====
  known as
  ===== -->

  <div class="form-group">
    <input [ngClass]="{'is-invalid': registrationFrom.get('knownAs').errors && registrationFrom.get('knownAs').touched}"
      class="form-control" placeholder="Known as" formControlName="knownAs">
    <div class="invalid-feedback"
      *ngIf="registrationFrom.get('knownAs').touched && registrationFrom.get('knownAs').hasError('required')">Known as
      is required</div>
  </div>

  <!-- 
  =====
  date of birth
  ===== -->

  <div class="form-group">
    <input
      [ngClass]="{'is-invalid': registrationFrom.get('dateOfBirth').errors && registrationFrom.get('dateOfBirth').touched}"
      class="form-control" placeholder="Date of Birth" formControlName="dateOfBirth" type="text" bsDatepicker
      [bsConfig]="bsConfig">
    <div class="invalid-feedback"
      *ngIf="registrationFrom.get('dateOfBirth').touched && registrationFrom.get('dateOfBirth').hasError('required')">
      Date of Birth is required</div>
  </div>

  <!-- 
  =====
  city and country
  ===== -->

  <div class="form-group">
    <input [ngClass]="{'is-invalid': registrationFrom.get('city').errors && registrationFrom.get('city').touched}"
      class="form-control" placeholder="City" formControlName="city">
    <div class="invalid-feedback"
      *ngIf="registrationFrom.get('city').touched && registrationFrom.get('city').hasError('required')">City is required
    </div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': registrationFrom.get('country').errors && registrationFrom.get('country').touched}"
      class="form-control" placeholder="Country" formControlName="country">
    <div class="invalid-feedback"
      *ngIf="registrationFrom.get('country').touched && registrationFrom.get('country').hasError('required')">Country is
      required</div>
  </div>



  <!-- 
  =====
  Password
  ===== -->


  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" formControlName="password"
      autocomplete="new-password"
      [ngClass]="{'is-invalid': registrationFrom.get('password').errors && registrationFrom.get('password').touched}">
    <div class="invalid-feedback"
      *ngIf="registrationFrom.get('password').hasError('required') && registrationFrom.get('password').touched">
      Password is required.</div>
    <div class="invalid-feedback"
      *ngIf="registrationFrom.get('password').hasError('minlength') && registrationFrom.get('password').touched">
      Password must be at least 8 characters.</div>
    <div class="invalid-feedback"
      *ngIf="registrationFrom.get('password').hasError('maxlength') && registrationFrom.get('password').touched">
      Password cannot exceed 100 characters.</div>
  </div>

  <!-- 
  =====
  Confirm Password
  ===== -->

  <div class="form-group">
    <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword"
      autocomplete="new-password" [ngClass]="{'is-invalid': registrationFrom.get('confirmPassword').errors
      && registrationFrom.get('confirmPassword').touched
      || registrationFrom.get('confirmPassword').touched
      && registrationFrom.hasError('mismatch')}">
    <div class="invalid-feedback"
      *ngIf="registrationFrom.get('confirmPassword').hasError('required') && registrationFrom.get('confirmPassword').touched">
      Password must be confirmed.</div>
    <div class="invalid-feedback"
      *ngIf="registrationFrom.hasError('mismatch') && registrationFrom.get('confirmPassword').touched">
      Password must match.</div>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success mr-2" type="submit" [disabled]="registrationFrom.invalid">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>

</form>
