.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 25px;
}

.card-footer {
    padding: 10px 15px;
    background-color: #ffffff;
    border-top: none;
}

div.tab-panel textarea {
    margin-top: 10px;
    margin-bottom: 20px;
}

div.tab-panel input {
    margin: 10px;
}